/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    DEBUG
 */

.box{
    border: 1px solid black;
}

/* 
    GENERAL
*/
html {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 60%;
    margin: 0 auto;
}

.big-container{
    max-width: 70%;
    margin: 0 auto;
}

nav > ul > li{
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 0.8em;
}

.button{
    background-color: #0061FF;
    padding: 8px;
    color: white;
}

/* 
    HEADER
*/

.header-top{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.header-top > nav > ul, .header-top > div{
    display: flex;
}

.header-bottom{
    background-color: #B4D0E7;
    margin-bottom:30px;
}

.my-row{
    display: flex;
    position: relative;
    top:40px;
}

.my-col-1{
    width: 30%;
}

.my-col-2{
    width: 70%;
}

img{
    width: 100%;
}

h1{
    font-size: 3.5em;
    padding-top: 60px;
}

.my-col-1 i{
    padding: 30px 0;
}

.my-col-1 > p{
    padding-bottom: 40px;
    font-size: 0.7em;
}

.my-col-1  p:last-of-type{
    padding: 40px 0;
}

/* FINE HEADER */

h2{
    padding:50px 0;
}

h3{
    padding: 15px 0;
}

.circle{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid grey;
}

.border-circle{
    border: 3px solid blue;
}

.my-row-1{
    display: flex;
    margin: 0 -15px;
    font-size: 0.8em;
}

.my-col-1-3{
    width: calc((100% / 3) - 30px);
    min-height: 300px;
    margin:0px 15px;
}

.user{
    text-align: center;
    padding: 8px 0;
    border-bottom: 1px solid grey;
    font-size: 0.7em;
}

.fa-ul{
    margin-left: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.fa-ul > li{
    padding: 20px 0;
}

.subscribe{
    padding: 10px 25px;
}

.subscribe span:first-of-type{
    margin-bottom: 10px;
}

.buy-now{
    padding: 25px 0;
}

hr{
    width: 35px;
    margin-bottom: 25px;
}

.fa-check{
    color: #0061FF;
}